# Application
app/plugins/*
!app/plugins/.gitkeep
app/mu-plugins/*/
app/upgrade
app/uploads/*
!app/uploads/.gitkeep
app/themes/*
!app/themes/.gitkeep

# WordPress
wordpress

# WP Plugins
app/object-cache.php
app/advanced-cache.php

*.log
*.backup
*.save

/vendor

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
